{% macro product_card(p) %}
  <article class="card">
    <div class="card-img">
      <a href="/product/{{ p.id }}/{{ p.slug }}">
        <img src="{{ p.image|imgcard }}" alt="{{ p.name }}" width="400" height="400" loading="lazy" decoding="async">
      </a>
    </div>
    <div class="card-body">
      <h4><a href="/product/{{ p.id }}/{{ p.slug }}">{{ p.name }}</a></h4>
      <p class="price">{{ p.price|qar }}</p>
      <button class="common-btn w-100 mt-2" type="button" data-add="{{ p.id }}">Add to cart</button>
    </div>
  </article>
{% endmacro %}
